// text
$fontSizeSs: 10px;
$fontSizeS: 12px;
$fontSizeXs: 14px;
$fontSizeSm: 16px;
$fontSizeMd: 18px;
$fontSizeLg: 20px;
$fontSizeXl: 24px;
$fontSizeXXl: 26px;
$fontSizeXXXl: 36px;
$landingH3FontSize: 48px;
$landingH2FontSize: 50px;
$landingH1FontSize: 70px;
$defaultFontFamily: -apple-system, BlinkMacSystemFont, Lato, sans-serif;

// color
$errorColor: #c62232;
